:root {
    --1: #000000;
    --2: #662200;
    --3: #778DA9;
    --4: #E0E1DD;
    --5: #CE2D4F;
}
p, a {
    font-family: "rubik";
}
.paragraph-1 {
    background-color: #F18070;
    margin: 0;
}
.paragraph-1 p {
    font-size: 18px;
    width: 400px;
    padding: 30px;
    padding-left: 180px;
    margin: 0;
    color: white;
    letter-spacing: 2px;
    
}


footer {
    text-align: center;
    padding: 25px;
    background-color: #B0A098;
    color: white;
    font-family: "Karla", sans-serif;
    font-weight: 800;
    margin-top: 0px;
}
.horiz-nav {
        background-color: var(--1);
        display: flex;
        width: 100%;
        align-items: center; /* vertically align logo + links */
        justify-content: space-between; /* space between logo and nav links */
        padding: 0 20px;
        }
        .horiz-nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        }
        .horiz-nav li {
        margin-right: 25px;
        }
        .horiz-nav a {
        color: white;
        text-decoration: none;
        padding: 14px 20px;
        display: block;
        }
        /* Hover effect */
        .horiz-nav a:hover {
        /*background-color: var(--3);*/
        }
        /* Active (current page) link */
        .horiz-nav a.active {
        /*background-color: var(--4);  /* a green highlight */
        font-weight: bold;          /* make it stand out */
        }
        .horiz-nav a.active:hover {
            /*color: black;*/
        }